p {
    border-bottom: 0;
    border-top: 0;
    font-family: Roboto ,Arial;
    margin-bottom: 0px;
    margin-top: 0px;
}

body {
    margin: 0;
    padding-top: 80px;
    padding-left: 92px;
    padding-right: 24px;
}